server:
  port: 8080
  servlet:
    context-path: /
spring:
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
    packages:
      trust-all: true
    in-memory: false
